* {
  font-family: 'Source Sans Pro', sans-serif !important;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0077aa;
  font-size: 0.85rem;
}

a:visited {
  color: #0077aa;
}


.content {
  display: flex;
  height: 100vh;
}

.logo {
  width:12rem;
  margin-bottom: 1.5rem;
}

.sidebar {
  width: 16rem;
  padding: 2rem;
  background-color: #181818;
}
.sidebar p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.5rem;
}

li {
  transition: 0.3s;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

li:hover {
  background-color: rgba(0, 119, 170, 0.1);
  padding-left: 1rem;
}

.preview {
  width: 100%;
  height: 100%;
}

.preview iframe {
  width: 100%;
  height: 100%;
}